// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "lib/css3_mixins.scss";
@import "variables.scss";

.comment { 
	padding:10px 0;
	border-bottom:2px solid #ccc;
}
#new_comment {
	textarea {
		width:100%;
		height:200px;
		margin:10px 0;
	}
	input[type=submit] {
		margin:10px 0;
	}
}