<div class="comment">
	<p>
	  <b>Commenter:</b>
 	  <%= comment.user %><%#TODO: why doesn't .username give me the actual username? %>
	</p>
	<p>
	  <b>Comment:</b>
	  <%= comment.body %>
	</p>
	<p>
	  <%= link_to 'Destroy Comment', [comment.post, comment],
	               :confirm => 'Are you sure?',
	               :method => :delete %>
	</p>
</div>