<h1>Your Preferences</h1>
<%# TODO: Should be editable without password field (validation) %>
<%= render 'form' %>

<h2>Auth</h2>

<%= render 'authentications/auth' %>

<%= link_to 'Back', users_path %>
