<h1>Sign Up!</h1>
<p>Draww is a great place to do stuff - some encouraging words needed here.</p>
<p>Enter your details below or sign in using Facebook or Twitter.</p>

<%= render 'form' %>
<%= render 'authentications/auth' %>

<%= link_to 'Back', users_path %>
