TODO: Delete this? - Shouldn't be used now there's a unified login/signup view

<h1 class="big">Sign up free!</h1>
<div class="social_connect">
	<h4>Connect using your favorite social networking service:</h4>
	<%= render 'authentications/auth' %>
</div>
<div class="local_signup">
	<h4>...or enter your details below:</h4>
	<div class="form">
		<%= render 'form' %>
	</div>
</div>
