<h1><%= @user.username %>'s Posts</h1>
<%# TODO: Wouldn't it be nice if there was a "follow user" button here %>
<%= render 'posts/new_link' %>
<%= render '/posts/list' %>


<%# link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
