<% flash.each do |key, msg| %>
  <div class="row">
    <div class="span12">
      <div id="<%= key %>" class="alert alert-success">
        <%= msg %>
      </div>
    </div>
  </div>
<% end %>
<% flash.discard %>
