<% if current_user %>
	<%= render 'posts/new_link' %>
<% else %>
	<div class="banner">
		<h1>Collaborative Image Sharing</h1>
		<p>Draww is a place to share images and stuff. Some BS needed here encouraging people to <%= link_to "Sign Up", new_user_path %></p>
	</div>
<% end %>
<%= render 'posts/list' %>