<% if current_user %>
	<h1>Hello, <%= current_user.username %></h1>
	<%= link_to 'New Post', new_post_path %>
<% else %>
	<h1>Welcome to Draww!</h1>
	<p>Some BS here encouraging people to <%= link_to "Sign Up", new_user_path %></p>
<% end %>
<%= render 'posts/list' %>