<% if current_user %>
	<%= render 'posts/new_link' %>
<% else %>
	<div id="signup_banner">
		<div class="copy">
			<h1>Draww is a community where people share and collaborate with images.</h1>
			<h4>Upload your own, alter them, and vote for the best. <%= link_to 'Get started now!', new_user_path %></h4>
		</div>
		<%= link_to content_tag(:span, "Sign Up"), login_path, :class => 'signup_big' %>
	</div>
<% end %>
<%= render 'posts/list' %>