<div class="posts_list">
<% @posts.each do |post| %>
	<% if post.photo.exists? then %>
		<div class="post">
			<div class="actions">
				<%= link_to(content_tag(:span, post.title), post, :class => 'show') %>
				<%= render :partial => 'posts/ranking', :locals => { :post => post } %>
			</div>
			<div class="image">
				<%= image_tag(post.photo.url(:small), :alt => post.title, :class => 'pic') %>
			</div>
	  	</div>
	<% else %>
		<div class="post">Error! Post has no photo.</div>
	<% end %>
<% end %>
<div class="clearfix"></div>
<%= paginate @posts %>
</div>
