<div class="posts_list">
<% @posts.each do |post| %>
	<% if post.photo.exists? then %>
		<div class="post">
			<div class="actions">
				<%= link_to content_tag(:span, 'New Derivative'), new_child_post_path(post), :class => 'new_deriv' %>
				<%= render :partial => 'posts/ranking', :locals => { :post => post } %>
			</div>
			<div class="image">
				<%= link_to(image_tag(post.photo.url(:small), :alt => post.title), post, :class => 'pic') %>
			</div>
	  	</div>
	<% else %>
		<div class="post">Error! Post has no photo.</div>
	<% end %>
<% end %>
<div class="clearfix"></div>
<%= paginate @posts %>
</div>
