<ul class="thumbnails">
<% @posts.each do |post| %>
  <li class="span3">
    <% if post.photo.exists? then %>
      <%= link_to(
        image_tag(post.photo.url(:small), :alt => post.title, :class => 'pic'),
        post, :class => 'thumbnail') %>
	<%# render :partial => 'posts/ranking', :locals => { :post => post } %>
    <% else %>
      Error! Post has no photo.
    <% end %>
  </li>
<% end %>
</ul>
<%= paginate @posts %>
