<div class="ranking">
	Votes: <%= "#{post.votes_count} votes worth #{post.votes_score} reputation" %>
	<%- post.upvote - post.downvote %>
	<%# link_to "Up", upvote_path %>	
	<%= link_to "vote for this post", vote_path(post) %>
</div>