<div class="ranking">
	<%# "#{post.votes_count} votes worth #{post.votes_score} reputation" %>
	<%- post.upvote - post.downvote %>
	<%= link_to content_tag(:span, "Vote Up"), vote_path(post), :class => 'vote_up' %>
	<%= link_to post.votes_count, post, :class => 'vote_total' %>
</div>