console.log('create.js.erb loaded');
var el = $('.ajax_message');

<% if @post.errors.any? %>

	// Create a list of errors
	var errors = $('<ul />');

	<% @post.errors.full_messages.each do |error| %>
		errors.append('<li><%= escape_javascript( error ) %></li>');
	<% end %>

	// Display errors on form
	el.html(errors);

<% else %>
	
	console.log("no errors");
	//el.html('<%= escape_javascript(flash.discard(:notice)) %>');
	window.location.href='<%= url_for @post %>';
	
<% end %>