<% content_for :head do %>
	<% if action_name == 'new_child' %>
		<script type="text/javascript">
			$(document).ready(function(){
				// see processingReady()
				pjsReadyFn['load_image_for_edit'] = function() {
					loadRemoteImage('<%= @post_parent.photo.url(:medium) if @post_parent.photo.exists? %>');
				}
			});
		</script>
	<% end %>
<% end %>

<div id="drop_area"><span>Drop an image file here (JPEG or PNG, Any Size)</span></div>


<!--<canvas data-processing-sources="/assets/framework.pjs /assets/tools.pjs" id="pjs_canvas" tabindex="0">-->
<canvas id="pjs_canvas" tabindex="0" style="display:none;">
    <p>Sorry, you should really upgrade your browser.</p>
</canvas>
<div class="actions">
    <div class="tool test1" data-tool-src="/assets/test1.pjs">Test 1</div>
    <div class="tool test2" data-tool-src="/assets/test2.pjs">Test 2</div>
</div>

<%= render 'form' %>
