<canvas id="pjs_canvas" tabindex="0">
    <p>Sorry, you should really upgrade your browser.</p>
</canvas>
<div class="actions">
    <div class="tool test1" data-tool-src="/assets/test1.pjs">Test 1</div>
    <div class="tool test2" data-tool-src="/assets/test2.pjs">Test 2</div>
</div>

<%= render 'form' %>
