/**
 * General
 */

body {
    padding:70px 0;
}

#container {
    width:1260px;
    margin:0 auto;
}

// Footer ----------------------------------------------------------------------

footer {
    display:block;
    width:100%;
    padding:20px 0;
    clear:both;
    .license {
        
    }
}

// Preloading ------------------------------------------------------------------
// (divs at bottom of application layout)

.preload {
    width:0; height:0; overflow:hidden;
    .vote       { background: url('/assets/like.svg'); }
    .spinner    { background: url('/assets/spinner.svg'); }
}