/* Styles for main layout & global stuff : views/layouts/application */

@import "lib/css3_mixins.scss";
body { 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:200;
	font-size:14px; 
	// background: #fff url('/images/gradient-ccc.jpg') top left repeat-x;
	background: #fff;
	color:#333;
}
a {
	@include transition(opacity 0.5s);
	&:hover { opacity:0.7; }
}

// HEADER -------------------------------------
#site_title {
	width:144px;
	height:30px;
	margin:20px;
	display:block;
	background:url('/images/draww.co.png') top left no-repeat;
	span { display:none; }
}
nav.user {
	position:absolute;
	top:0; right:0;
	padding:5px;
	margin:10px;
	form, div { display: inline; }
	input[type=text], input[type=password] {
		width:120px;
	}
	// background:#f5f5f5;
	@include border-radius(2px);
}
#flash {
	margin:20px;
	p {
		display:block;
		padding:10px;
		@include linear-gradient(#6db667, #3d9d35);
		@include border-radius(5px);
		color:#fff;
		font-weight:bold;
		text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
		border:none;
		border-bottom:1px solid #296b05;
	}
}

// VIEW --------------------------------------

.banner {
	padding:20px;
	margin:20px 0;
	background:#f5f5f5;
	@include border-radius(5px);
	h1 {
		margin-top:0;
	}
}
#view {
	margin:20px;
}

// FOOTER -------------------------------------

footer {
	background:#f5f5f5;
	padding:20px;
}

// GLOBAL FORMS -------------------------------

input, textarea, .button, a.button {
	margin:5px;
	@include border-radius(2px);
	display:inline-block;
}
input[type=text], input[type=password], textarea {
	font-size:14px;
	padding:5px;
	border:1px solid #999;
	@include box-shadow(0,0, 6px, #ccc);
	// @include linear-gradient(#fff, #eee);
}
input[type=submit], .button, a.button {
	border:0;
	font-size:12px;
	padding:6px 10px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	@include box-shadow(0,0, 6px, #ccc);
	@include linear-gradient(#888, #666);
	// text-shadow: 0 0 4px #222;
	@include transition(opacity 0.5s);
	&.green { @include linear-gradient(#6db667, #3d9d35); }
	&.light { @include linear-gradient(#bbb, #999); }
}