// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "lib/css3_mixins.scss";

// View containers
.posts_list, .posts_show { margin:20px; }

// Post show / index
.post {
	
	.info {
		position:relative;
		margin:10px 0;
		.title {
			display:inline;
			margin:0;
			font-size:14px;
		}
	}
	.actions {
		position:absolute;
		top:0; right:0;
	}
}
img.medium { 
	margin:20px; 
	width:640px; 
}
.post.small	{ 
	display:inline-block; 
	width:320px; 
}

.new_post_link {
	margin:20px;
	a {
		display:inline-block;
		width:auto;
		padding:5px 0 5px 24px;
		background:url('/images/plus.png') center left no-repeat;
		font-weight:bold;
		font-size:16px;
		text-decoration:none;
		color:#666;
	}
}
a.tag {
	background:#ccc;
	padding:3px 5px;
	margin:5px;
	text-decoration:none;
	@include linear-gradient(#ddd, #999);
	@include border-radius(2px);
	color:#555;
	font-weight:bold;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
	border:none;
	border-bottom:1px solid #777;
}

// views/posts/show

.post_title {
	margin-bottom:10px;
	h1 { display:inline; }
	.by { display:inline; font-size:16px; padding-left:5px; }
}