// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post {
	margin:20px auto;
	.info {
		position:relative;
		margin:10px 0;
		.title {
			display:inline;
			margin:0;
			font-size:14px;
		}
	}
	.actions {
		position:absolute;
		top:0; right:0;
	}
}
.post.medium { width:640px; }