// Unifed Stylesheet for Draww
// Everything apart from the Drawing App

@import "lib/css3_mixins.scss";
@import "variables.scss";

/* Contents:
 * - Text & Basic Element Styles
 * - Forms & Buttons
 * --- In-place Editing
 * - Layout Containers
 * - Header & User Navigation
 * --- Flashes
 * --- Signup banner
 * --- Signup page
 * - Notifications
 * - Footer
 * - Post List View
 * - Post Show View
 * - User Management Views
**/

// -------------------------------------------------------------------------------
// Text & Basic Element Styles ---------------------------------------------------
// -------------------------------------------------------------------------------

body { 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:200;
	font-size:14px; 
	background: #fff;
	color:#333;
}
a {
	@include transition(opacity 0.5s);
	&:hover { opacity:0.7; }
}
h1 {
	font-size:30px;
	line-height:1.2em;
	color:#666;
}
h1.big { font-size:57px; }
h4 {
	font-weight:normal;
	font-size:15px;
}

// -------------------------------------------------------------------------------
// Forms & Buttons (also see jquery-ui.aristo)------------------------------------
// -------------------------------------------------------------------------------

.ajax_status { 
	width:24px;
	height:24px;
}
.ajax_status.loading {
	background:url('/images/ajax-loader.gif') top left no-repeat;
}

/*input, textarea, .button, a.button {
	@include border-radius(2px);
	display:inline-block;
}
input[type=text], input[type=password], textarea {
	font-size:14px;
	padding:5px;
	border:1px solid #999;
	@include box-shadow(0,0, 6px, #ccc);
}
input[type=submit], .button, a.button {
	border:0;
	font-size:12px;
	padding:6px 10px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	@include box-shadow(0,0, 6px, #ccc);
	@include linear-gradient(#888, #666);
	// text-shadow: 0 0 4px #222;
	@include transition(opacity 0.5s);
	&.green { @include green_gradient; }
	&.light { @include grey_gradient; }
}*/

// In-place Editing --------------------------------------------------------------

span.best_in_place {
	padding-right:20px;
	background:url('/images/bip_edit.png') center right no-repeat;
	&:hover { background-color:$white_smoke;}
}

// -------------------------------------------------------------------------------
// Layout Containers -------------------------------------------------------------
// -------------------------------------------------------------------------------

#view {
	width:$page_width;
	margin:20px auto;
}

// -------------------------------------------------------------------------------
// Header & User Navigation ------------------------------------------------------
// -------------------------------------------------------------------------------

#header_nav {
	@include linear-gradient(#595959, #747474);
	height:38px;
	.inner {
		width:$page_width;
		margin:0 auto;
		position:relative;
		height:10px;
	}
	nav.user_actions {
		position:absolute;
		right:0;
		font-size:0; // Remove space between inline-block elements
		a, .msg {
			display:inline-block;
			font-size:14px;
			font-weight:bold;
			color:#fff;
			line-height:14px;
			padding:10px 12px 14px 12px;
			text-decoration:none;
			border-right:1px solid rgba(255,255,255,0.2);
			border-left:1px solid rgba(0,0,0,0.2);
			&:last-child {
				border-right:none;
			}
		}
		.msg { border-left:none; font-weight:200; }
	}
	#site_title {
		width:100px;
		height:28px;
		margin:4px 0 6px 0;
		display:block;
		float:left;
		background:url('/images/draww.png') top left no-repeat;
		span { display:none; }
	}
}

// Signup Banner -----------------------------------------------------------------

#signup_banner {
	width:100%;
	height:128px;
	margin:40px 0;
	color:#666;
	.copy {
		float:left;
		width:640px;
	}
	h1 {
		margin-top:14px;
		margin-bottom:10px;
	}
	h4 {
		margin-top:0;
	}
	.signup_big { float:right; }
	a { color:#666;}
}
.signup_big {
	display:block;
	width:306px;
	height:128px;
	background:url('/images/sign-up-button-128.png') top left no-repeat;
	span { display:none; }
}

// Signup page -------------------------------------------------------------------

.social_connect {
	width:474px;
	float:left;
}
.local_signup {
	width:474px;
	float:right;
	.form {
		@include linear-gradient(#eee, #ccc);
		@include border-radius(5px);
		padding:20px;
	}
}
.auth_provider {
	display:block;
	width:474px;
	height:80px;
	margin:20px 0;
	span { display:none; }
}
.auth_provider.facebook {
	background:url('/images/facebook-big.png') top left no-repeat;
}
.auth_provider.twitter {
	background:url('/images/twitter-big.png') top left no-repeat;
}


// -------------------------------------------------------------------------------
// Notifications -----------------------------------------------------------------
// -------------------------------------------------------------------------------

#flash {
	width:$page_width;
	margin:0 auto;
	p {
		margin:20px 0;
		display:block;
		padding:10px;
		@include linear-gradient(#6db667, #3d9d35);
		@include border-radius(5px);
		color:#fff;
		font-weight:bold;
		text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
		border:none;
		border-bottom:1px solid #296b05;
	}
}

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}

// -------------------------------------------------------------------------------	
// Footer ------------------------------------------------------------------------
// -------------------------------------------------------------------------------

footer {
	width: 100%;
	background:$l_grey;
	margin-top:30px;
	padding:30px 0;
	.inner {
		width:$page_width;
		margin:0 auto;
	}
}

// -------------------------------------------------------------------------------
// Post List View ----------------------------------------------------------------
// -------------------------------------------------------------------------------

.new_post_link {
	margin:20px 0;
	a {
		display:inline-block;
		width:auto;
		padding:5px 0 5px 24px;
		background:url('/images/plus.png') center left no-repeat;
		font-weight:bold;
		font-size:16px;
		text-decoration:none;
		color:#666;
	}
}

.posts_list {
	.post {
		float:left;
		margin:0 10px 42px 0;
		.image {
			padding-right:32px;
			a:hover { opacity:1; }
			img { 
				width:280px;
				height:186px;
			}
		}
		.actions {
			width:24px;
			float:right;
			// display:none;
			span { display:none; }
			.new_deriv {
				display:block;
				background:url('/images/edit.png') top left no-repeat;
				width:24px;
				height:24px;
			}
			.vote_up {
				display:block;
				background:url('/images/vote_up.png') center left no-repeat;
				width:24px;
				height:24px;
			}
			.vote_down {
				display:block;
				background:url('/images/vote_down.png') center left no-repeat;
				width:24px;
				height:24px;
			}
			.vote_total {
				display:block;
				width:24px;
				text-align:center;
				text-decoration:none;
				font-weight:bold;
				font-size:11px;
				color:#666;
			}
		}
		&:hover .actions {
			display:block;
		}
	}
}
// -------------------------------------------------------------------------------
// Post Show View ----------------------------------------------------------------
// -------------------------------------------------------------------------------

#show {
	// Container for pic and main actions
	float:left;
	width:640px;
}
#meta {
	// Container for all info
	padding-left:660px;
}
#show .actions {
	display:block;
	margin-bottom:20px;
	height:30px;
	@include linear-gradient(#fbfbfb, #ebebeb);
	@include border-radius(5px);
	border:1px solid;
/*	border-color:#E2E2E2 #E8E8E8 #E4E4E4 #DDD;*/
	border-color:#eee #e4e4e4 #e0e0e0 #f0f0f0;
	color:$d_grey;
	.ranking { display:inline; }
	a {
		display:block;
		float:left;
		padding:5px 10px;
		height:20px;
		border-right:1px solid #e0e0e0;
		border-left:1px solid #fff;
		color:$d_grey;
		text-decoration:none;
		&:hover { 
			opacity:1; 
			background-color:#e0e0e0;
			border-left:1px solid #e0e0e0;
		}
		&:first-child { border-left:none; }
	}
	.up {
		background:url('/images/vote_up_sm.png') 5px center no-repeat;
		padding-left:26px;
	}
	.down {
		background:url('/images/vote_down_sm.png') 5px center no-repeat;
		padding-left:26px;
	}
	.edit {
		background:url('/images/plus.png') 5px center no-repeat;
		padding-left:26px;
	}
}
.post_title {
	margin-bottom:10px;
	h1 { display:inline; }
	.by { display:inline; font-size:16px; padding-left:5px; }
}

// -------------------------------------------------------------------------------
// User Management Views ---------------------------------------------------------
// -------------------------------------------------------------------------------
