// Unifed Stylesheet for Draww
// Everything apart from the Drawing App

@import "lib/css3_mixins.scss";
@import "variables.scss";

/* Contents:
 * - Text & Basic Element Styles
 * - Forms & Buttons
 * --- In-place Editing
 * - Layout Containers
 * - Header & User Navigation
 * --- Flashes
 * --- Signup banner
 * --- Signup page
 * - Notifications
 * - Footer
 * - Post List View
 * - Post Show View
 * - User Management Views
**/

// -------------------------------------------------------------------------------
// Text & Basic Element Styles ---------------------------------------------------
// -------------------------------------------------------------------------------

body { 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:14px; 
	background: #fff;
	color:#444;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
}
a {
	@include transition(opacity 0.5s);
	&:hover { opacity:0.7; }
}
h1 {
	font-size:37px;
	line-height:1.2em;
	font-weight:200;
	color:#666;
}
h1.big { font-size:57px; }
h3 { 
	font-size:14px; 
	font-weight:bold; 
	margin:$pad*2 0;
}

h4 {
	font-weight:normal;
	font-size:15px;
}

// -------------------------------------------------------------------------------
// Forms & Buttons (also see jquery-ui.aristo)------------------------------------
// -------------------------------------------------------------------------------

.ajax_status { 
	width:24px;
	height:24px;
}
.ajax_status.loading {
	background:url('/images/ajax-loader.gif') top left no-repeat;
}

/*input, textarea, .button, a.button {
	@include border-radius(2px);
	display:inline-block;
}*/
input[type=text], input[type=password], textarea {
	font-size:14px;
	padding:7px;
	border:1px solid #b6b6b6;
	@include border-radius(5px);
	@include box-shadow(inset 0,2px,6px, #ddd);
	color:#333;
}
div.field { margin:15px 0; }
form table td { padding:0 15px 15px 0; vertical-align:middle; }
/*
input[type=submit], .button, a.button {
	border:0;
	font-size:12px;
	padding:6px 10px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	@include box-shadow(0,0, 6px, #ccc);
	@include linear-gradient(#888, #666);
	// text-shadow: 0 0 4px #222;
	@include transition(opacity 0.5s);
	&.green { @include green_gradient; }
	&.light { @include grey_gradient; }
}*/

// In-place Editing --------------------------------------------------------------

span.best_in_place {
	padding-right:20px;
	background:url('/images/bip_edit.png') center right no-repeat;
	&:hover { background-color:$white_smoke;}
}

// -------------------------------------------------------------------------------
// Layout Containers -------------------------------------------------------------
// -------------------------------------------------------------------------------

#view {
	width:$page_width;
	margin:20px auto;
}
#title_strip {
	margin-bottom:$pad*2;
	h1 { display:inline; }
	.by { display:inline; font-size:16px; padding-left:5px; }
	.actions { float:right; }
	.ranking { display:inline-block; }
}


// -------------------------------------------------------------------------------
// Header & User Navigation ------------------------------------------------------
// -------------------------------------------------------------------------------

#header_nav {
	@include linear-gradient(#ffffff, #e7e7e7);
	@include border-radius(0 0 5px 5px);
	height:38px;
	width:$page_width;
	margin:0 auto;
	.inner {
		position:relative;
		height:10px;
	}
	nav.user_actions {
		position:absolute;
		right:0;
		font-size:0; // Remove space between inline-block elements
		a, .msg {
			display:inline-block;
			font-size:14px;
			font-weight:bold;
			color:#666;
			line-height:14px;
			padding:10px 12px 14px 12px;
			text-decoration:none;
			border-right:1px solid rgba(255,255,255,0.2);
			border-left:1px solid rgba(0,0,0,0.2);
			&:last-child {
				border-right:none;
			}
		}
		.msg { border-left:none; font-weight:normal; }
	}
	#site_title {
		width:100px;
		height:28px;
		margin:6px 0 0 8px;
		display:block;
		float:left;
		background:url('/images/draww.png') top left no-repeat;
		span { display:none; }
	}
}

// Signup Banner -----------------------------------------------------------------

#signup_banner {
	width:100%;
	height:128px;
	margin:40px 0;
	color:#666;
	.copy {
		float:left;
		width:640px;
	}
	h1 {
		margin-top:14px;
		margin-bottom:10px;
	}
	h4 {
		margin-top:0;
	}
	.signup_big { float:right; }
	a { color:#666;}
}
.signup_big {
	display:block;
	width:306px;
	height:128px;
	background:url('/images/sign-up-button-128.png') top left no-repeat;
	span { display:none; }
}

// Signup page -------------------------------------------------------------------

.social_connect {
	width:474px;
	float:left;
}
.local_signup {
	width:474px;
	float:right;
	.form {
		@include linear-gradient(#eee, #ccc);
		@include border-radius(5px);
		padding:20px;
	}
}
.auth_provider {
	display:block;
	width:474px;
	height:80px;
	margin:20px 0;
	span { display:none; }
}
.auth_provider.facebook {
	background:url('/images/facebook-big.png') top left no-repeat;
}
.auth_provider.twitter {
	background:url('/images/twitter-big.png') top left no-repeat;
}


// -------------------------------------------------------------------------------
// Notifications -----------------------------------------------------------------
// -------------------------------------------------------------------------------

#flash {
	width:$page_width;
	margin:0 auto;
	p {
		margin:20px 0;
		display:block;
		padding:10px;
		@include linear-gradient(#6db667, #3d9d35);
		@include border-radius(5px);
		color:#fff;
		font-weight:bold;
		text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
		border:none;
		border-bottom:1px solid #296b05;
	}
}

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}

// -------------------------------------------------------------------------------	
// Footer ------------------------------------------------------------------------
// -------------------------------------------------------------------------------

footer {
	width: 100%;
	margin-top:30px;
	padding:30px 0;
	.inner {
		width:$page_width;
		margin:0 auto;
		border-top:2px solid #ddd;
		padding-top:30px;
	}
	.license {
		font-size:11px;
		color:$m_grey;
		width:300px;
		a { 
			color:$m_grey; 
			font-weight:bold;
			text-decoration:none;
		}
		img {
			margin-bottom:10px;
		}
	}
}

// -------------------------------------------------------------------------------
// Post List View ----------------------------------------------------------------
// -------------------------------------------------------------------------------

.new_post_link {
	margin:20px 0;
	a {
		display:inline-block;
		width:auto;
		padding:5px 0 5px 24px;
		background:url('/images/plus.png') center left no-repeat;
		font-weight:bold;
		font-size:16px;
		text-decoration:none;
		color:#666;
	}
}

.posts_list {
	margin-right:- $pad;
	.post {
		float:left;
		position:relative;
		margin:0 $pad $pad 0;
		.image {
			a:hover { opacity:1; }
			img { 
				width:316px;  // 948/3 = 316    
				height:210px;  // 316/3*2 = 210.66666666666666666666
			}
		}
		.actions {
			position:absolute;
			top:0; left:0;
			width:316px; height:210px;
			background:rgba(0,0,0,0.5);
			display:none;
			span { display:none; }
			.show {
				position:absolute;
				display:block;
				width:83px; height:78px;
				top:68px; left:55px;
				background:url('/images/show.png') top left no-repeat;
			}
			.new_deriv {
				display:block;
				background:url('/images/edit.png') top left no-repeat;
				width:24px;
				height:24px;
			}
			.vote_up {
				position:absolute;
				display:block;
				width:108px; height:89px;
				top:59px; left:170px;
				background:url('/images/thumb-up.png') top left no-repeat;
			}
			.vote_down {
				display:block;
				background:url('/images/vote_down.png') center left no-repeat;
				width:24px;
				height:24px;
			}
			.vote_total {
				display:block;
				width:24px;
				text-align:center;
				text-decoration:none;
				font-weight:bold;
				font-size:11px;
				color:#666;
			}
		}
		&:hover .actions {
			display:block;
		}
	}
}

.pagination {
	.prev, .next {
		font-size:30px;
		font-weight:200;
		a {
			text-decoration:none;
			color:#333;
		}
	}
	.prev a { color:$m_grey; }
}
// -------------------------------------------------------------------------------
// Post Show View ----------------------------------------------------------------
// -------------------------------------------------------------------------------

#show {
	// Container for pic and main actions
	float:left;
	width:640px;
	.parents, .children { float:left; margin-right:$pad*2; }
}
#meta {
	// Container for all info
	padding-left:660px;
}
#show .actions {
	display:block;
	margin-bottom:20px;
	height:30px;
	@include linear-gradient(#fbfbfb, #ebebeb);
	@include border-radius(5px);
	border:1px solid;
/*	border-color:#E2E2E2 #E8E8E8 #E4E4E4 #DDD;*/
	border-color:#eee #e4e4e4 #e0e0e0 #f0f0f0;
	color:$d_grey;
	.ranking { display:inline; }
	a {
		display:block;
		float:left;
		padding:5px 10px;
		height:20px;
		border-right:1px solid #e0e0e0;
		border-left:1px solid #fff;
		color:$d_grey;
		text-decoration:none;
		&:hover { 
			opacity:1; 
			background-color:#e0e0e0;
			border-left:1px solid #e0e0e0;
		}
		&:first-child { border-left:none; }
	}
	.up {
		background:url('/images/vote_up_sm.png') 5px center no-repeat;
		padding-left:26px;
	}
	.down {
		background:url('/images/vote_down_sm.png') 5px center no-repeat;
		padding-left:26px;
	}
	.edit {
		background:url('/images/plus.png') 5px center no-repeat;
		padding-left:26px;
	}
}

// Comments
.comment {
	margin-bottom:15px;
	padding-bottom:15px;
	border-bottom:1px solid #d5d5d5;
	.user { 
		color:#999; display:inline; 
		a { color:#999; }
	}
	.body { display:inline; }
}
textarea#comment_body { width:302px; }

// -------------------------------------------------------------------------------
// User Management Views ---------------------------------------------------------
// -------------------------------------------------------------------------------
