// GLOBAL VARIABLES
// --------------------------------------------------

// Colours

$m_green: #6db667;
$d_green: #3d9d35;

$white_smoke: #f5f5f5;
$l_grey: #bbb;
$m_grey: #999;
$d_grey: #777;

$col1: #14954b; // Gradient top green 
$col2: #0f6c36; // Gradient btm green

// Gradients

@mixin green_gradient {
	@include linear-gradient($col1, $col2);
}
@mixin grey_gradient {
	@include linear-gradient(#999, #6f6f6f);
}

// Measurements

$pad: 15px;
$page_width: 978px;

