<h1>Login / Sign up</h1>
<div class="row">
  <div class="span6">
    <%= render 'form' %>
    <h3>Using Social Media:</h3>
    <%= render 'authentications/auth' %>
  </div>
  <div class="span6">
    <%= render 'users/form' %>
  </div>
</div>
